{% extends 'sidebar.html.twig' %}

{% block title %}QuickWork - Accueil{% endblock %}

{% block page_contents %}

<script defer src="{{ asset('js/pointage.js') }}"></script>

<!-- Partie centrale -->
<div class="fixed flex flex-col h-full ml-14 mb-10 md:ml-64 bg-slate-100 dark:bg-slate-800 dark:text-white w-full">

  <!-- Title (accueil) -->
  <div class="pl-24 py-14 pt-24">
      <h1 class="text-6xl leading-6 ">Accueil</h1>
  </div>

  <!-- Message bienvenue + prénom + date-->
  <div class="pl-24">
    <h1 class="text-xl leading-6 ">Bonjour {{app.user.firstname}} !</h1>
    <p>Nous sommes le {{ today }}.</p>
  </div>

  <!-- Pointeuse -->
 
 {#
 {{ dump(userEffectiveWork) }}
 array:9 [▼
  "id" => "1"
  "user_id" => "2"
  "startlog" => "2022-03-11 15:21:11"
  "startlunch" => "2022-03-11 15:21:11"
  "endlunch" => "2022-03-11 15:21:11"
  "endlog" => "2022-03-11 15:21:11"
  "hoursworked" => null
  "created_at" => "2022-03-11 15:21:11"
  "updated_at" => "2022-03-11 15:21:11"
]
 #}
{{ dump(userEffectiveWork) }}

<div class="grid md:grid-cols-2 md:w-[40rem] lg:grid-cols-2 lg:w-[40rem] xl:grid-cols-4 xl:w-[60rem] p-4 gap-4 m-16">

  <div id="startLog">
    {% if userEffectiveWork.startlog is not defined %}
      <div class="buttonPointageAnimated">
        Début de journée 
      </div>
    {% else %}
    <div class="buttonPointageLocked">
        Début de journée 
          {{ userEffectiveWork.startlog ? userEffectiveWork.startlog|date('H:i') : '' }}
    </div>
    {% endif %}
  </div>
 
  <div id="startLunch">  
    {#Si debut de journée vide alors bouton grisé#}
    {% if (userEffectiveWork.startlunch is not defined) and (userEffectiveWork.startlog is not defined) %}
      <div class="buttonPointageDisabled">
        Début de pause repas 
      </div>
    {#Sinon si pause repas vide et debut de journée déclaré alors bouton animé#}
    {%  elseif (userEffectiveWork.startlunch is null) and (userEffectiveWork.startlog is not null) %}
      <div class="buttonPointageAnimated">
        Début de pause repas 
      </div>
    {#Sinon bouton vert avec heure de début de pause repas#}
    {% else %}
    <div class="buttonPointageLocked">
        Début de pause repas 
          {{ userEffectiveWork.startlunch ? userEffectiveWork.startlunch|date('H:i') : '' }}
    </div>
    {% endif %}
  </div>

  <div id="endLunch"> 
    <a href="#" class="buttonPointageDisabled">
        <p>Fin de pause repas</p>
    </a>
  </div>

  <div id="endLog"> 
    <a href="#" class="buttonPointageDisabled">
        <p>Fin de journée</p>
    </a>
  </div>
</div>

  <!-- Zone d'espacement-->
  <div class="h-full bg-transparent">
  </div>
    
  <!-- Zone d'information-->
  <div class="w-2/3 text-center m-auto h-auto dark:bg-white dark:bg-opacity-10 rounded-lg border border-slate-500">

    <span class="flex absolute h-4 w-4 -mt-2">
      <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"></span>
      <span class="relative inline-flex rounded-full h-4 w-4 bg-sky-500"></span>
    </span>

    <h1 class="text-xl leading-6 pt-8 font-semibold">Communication entreprise</h1>
    <p class="text-xl px-8 m-4 text-justify">Nous organisons pour le vendredi 18 mars 2022 un dîner d'entreprise. Tout le monde sera le bienvenue ! Au menu : apéro dînatoire et cocktails à volonté.</p>
  </div>

  <!-- Zone d'espacement-->
  <div class="h-10 mb-24 bg-transparent">
  </div>

</div>

{% endblock %}
