{% extends 'base.html.twig' %}

{% block title %}Page de profil{% endblock %}

{% block body %}
    Page de profil

    {{ user.lastname}}
    {{ user.firstname}}
    {{ user.picture}}
    {{ user.rib}}
    {{ user.email}}
    {{ user.emailpro}}
    {{ user.phonenumber}}
    {{ user.phonenumberpro}}
    {{ user.address}}
    {{ user.zipcode}}
    {{ user.city}}

    <a href="">Modification mot de passe </a>
    <button>Enregistrer</button>

{% endblock %}
