{% extends 'sidebar.html.twig' %}
{% form_theme profil 'tailwind_2_layout.html.twig' %}
{% block title %}Page de profil{% endblock %}

{% block body %}
   Edition d'un profil

    {{ form_start(profil) }}
    firstname : {{ form_widget(profil.firstname) }}
    lastname : {{ form_widget(profil.lastname) }}
    dateOfBirth : {{ form_widget(profil.dateOfBirth) }}
    picture : {{ form_widget(profil.picture) }}

    email : {{ form_widget(profil.email) }}
    emailpro : {{ form_widget(profil.emailpro) }}
    rib : {{ form_widget(profil.rib) }}

    phonenumber : {{ form_widget(profil.phonenumber) }}
    phonenumberpro : {{ form_widget(profil.phonenumberpro) }}
    address : {{ form_widget(profil.address) }}
    zipcode : {{ form_widget(profil.zipcode) }}
    city : {{ form_widget(profil.city) }}

    password : {{ form_widget(profil.password) }}
     status : {{ form_widget(profil.status)}}
     role : {{ form_widget(profil.role) }}
     job : {{ form_widget(profil.job) }}
    <a href="">Modification mot de passe </a>
    <button>Enregistrer</button>
    {{ form_end(profil) }}

{% endblock %}
