{% extends 'base.html.twig' %}

{% block title %}PlannedWorkDays index{% endblock %}

{% block body %}
    <h1>Planning de {{ user.firstname}} {{ user.lastname}} </h1>
    {{ dump(app.user) }}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Startshift</th>
                <th>Startlunch</th>
                <th>Endlunch</th>
                <th>Endshift</th>
                <th>Hoursplanned</th>
                <th>CreatedAt</th>
                <th>UpdadedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in user.plannedWorkDays %} 
            <tr>
                <td>{{ user.startshift ? user.startshift|date('l-d-m-Y') : '' }}</td>
                <td>{{ user.startshift ? user.startshift|date('H:i') : '' }}</td>
                <td>{{ user.startlunch ? user.startlunch|date('H:i') : '' }}</td>
                <td>{{ user.endlunch ? user.endlunch|date('H:i') : '' }}</td>
                <td>{{ user.endshift ? user.endshift|format_datetime('none', 'short', locale='fr') : '' }}</td>
                <td>{{ user.hoursplanned ? user.hoursplanned|date('H:i') : '' }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('d-m-y H:i') : '' }}</td>
                <td>{{ user.updadedAt ? user.updadedAt|date('H:i') : '' }}</td>
                <td>
                    <a href="{{ path('planned_work_days_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('planned_work_days_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
       
        </tbody>
    </table>

    <a href="{{ path('planned_work_days_new') }}">Create new</a>
{% endblock %}
