{% extends 'base.html.twig' %}

{% block title %}PlannedWorkDays index{% endblock %}

{% block body %}
    <h1>Planning du département {{ dpt.name}}</h1>

   {% for i in 0..nbUser %}
        <table class="table">
        <thead>
            <tr>    
                <th>Prénom</th>
                <th>Nom</th>   
            </tr>
        </thead>

        <tbody>   
          <tr>
                <td>{{ dptUser[i].firstname }}</td>
                <td>{{ dptUser[i].lastname }}</td>
          </tr>
        </tbody>
    </table>
    
          <table class="table">
        <thead>
            <tr>
                <th>Jour</th>
                <th>Début de journée</th>
                <th>Début pause déjeuner</th>
                <th>Fin pause déjeunée</th>
                <th>Fin de journée</th>
                <th>Nombre d'heures</th>   
            </tr>
        </thead>

        <tbody>
        
        {% for user in dptUser[i].plannedWorkDays %} 
        {% set weekDay = ['lundi 7/03/22', 'mardi 08/03/22', 'mercredi 09/03/22', 'jeudi 10/03/22', 'vendredi 10/03/22'] %}
            <tr>
                <td>{{ cycle(weekDay, loop.index -1 )}}</td>
                <td>{{ user.startshift ? user.startshift|date('H:i') : '' }}</td>
                <td>{{ user.startshift ? user.startshift|date('H:i') : '' }}</td>
                <td>{{ user.startlunch ? user.startlunch|date('H:i') : '' }}</td>
                <td>{{ user.endlunch ? user.endlunch|date('H:i') : '' }}</td>
                <td>{{ user.endshift ? user.endshift|date('H:i') : '' }}</td>
                <td>{{ user.hoursplanned ? user.hoursplanned|date('H:i') : '' }}</td> 
            </tr>
            {% endfor %}
          
        </tbody>

    </table>
       
       {% endfor %}
           
{% endblock %}
