{{ form_start(planning) }}
    {{ form_widget(planning.startshift) }}
    {{ form_widget(planning.startlunch) }}
    {{ form_widget(planning.endlunch) }}
    {{ form_widget(planning.endshift) }}
    <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(planning) }}